@use "responsive";

.wide {
  width: 100%;
}

.width-25 {
  width: calc(min(100%, 25rem));
}

@include responsive.medium {
  .medium-width-70 {
    width: 70%;
  }
}

@include responsive.large {
  .large-width-50 {
    width: 50%;
  }
}

:root {
  --width-large: 1280px;
}
