@use "../layout/responsive";

// Hide visually and from screen readers
.hide {
  display: none;
}

// Hide visually and from screen readers, but maintain layout
.invisible {
  visibility: hidden;
}

// show something only in screen readers
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin display-types($prefix) {
  .#{$prefix}-block {
    display: block;
  }
  .#{$prefix}-flex {
    display: flex;
  }
  .#{$prefix}-hide {
    display: none;
  }
  .#{$prefix}-grid {
    display: grid;
  }
}

// To work with .hide and different display types, we need something like this
@include responsive.small {
  @include display-types("small");
}

@include responsive.medium {
  @include display-types("medium");
}

@include responsive.large {
  @include display-types("large");
}

@include responsive.extra-large {
  @include display-types("extra-large");
}
