<section class="limited-large content">
  <h1 class="lead">{{Where}}</h1>
  {{AddressDesc | safe}}
  <a href="{{site.locationURL}}" target="_blank" title="{{ClickToOpenInGoogleMaps}}">
    <picture class="wide">
      <source srcset="/img/location/map-medium.avif" type="image/avif">
      <source srcset="/img/location/map-medium.png" type="image/jpeg">
      <img src="/img/location/map-medium.png" class="wide" alt="{{MapAlt}}">
    </picture> 
  </a>
</section>

<section class="limited-large content">
  <h2>{{HowToGetThere}}</h2>
  {{HowToGetThereDesc | safe}}
  <ul>
    <li>
      <p>
        <img src="/svg/train.svg" class="metro" alt="Metro logo">
        <a href="https://www.metromadrid.es/es/linea/linea-1" target="_blank" rel="noopener noreferrer">
          <span>Metro L1 (Sierra de Guadalupe)</span>
        </a>
        <span>·</span>
        <a href="https://www.renfe.com/es/es/cercanias/cercanias-madrid/lineas" target="_blank" rel="noopener noreferrer">
          <span>Cercanías C2 (Vallecas)</span>
        </a>
        <span>·</span>
        <a href="https://www.renfe.com/es/es/cercanias/cercanias-madrid/lineas" target="_blank" rel="noopener noreferrer">
          <span>Cercanías C7 (Vallecas)</span>
        </a>
      </p>
    </li>
    <li>
      <p>
        <img src="/svg/bus.svg" class="bus" alt="Bus logo">
        <a href="https://www.madridbuses.com/autobuses-emt/horarios-58-madrid.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 58</span>
        </a>
        <span>·</span>
        <a href="https://www.madridbuses.com/autobuses-emt/horarios-63-madrid.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 63</span>
        </a>
        <span>·</span>
        <a href="https://www.madridbuses.com/autobuses-emt/horarios-103-madrid.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 103</span>
        </a>
        <span>·</span>
        <a href="https://www.madridbuses.com/autobuses-emt/horarios-145-madrid.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 145</span>
        </a>
      </p>
    </li>
  </ul>  
  <p>{{MoreLocationInfo | safe}}</p>
</section>

<section class="limited-large content">
  <h2>{{Cloakroom}}</h2>
  {{CloakroomDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{Credentials}}</h2>
  {{CredentialsDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{AccessControl}}</h2>
  {{AccessControlDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{LateRegistration}}</h2>
  {{LateRegistrationDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{NeedLaptop}}</h2>
  {{NeedLaptopDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{WorkshopRequirements}}</h2>
  {{WorkshopRequirementsDesc | safe}}
</section>
  