<section class="limited-large content">
  <h1 class="lead">{{Where}}</h1>
  {{AddressDesc | safe}}
  <a href="https://goo.gl/maps/X5eoF" target="_blank" title="{{ClickToOpenInGoogleMaps}}">
    <picture class="wide">
      <source srcset="/img/location/map-medium.avif" type="image/avif">
      <source srcset="/img/location/map-medium.jpg" type="image/jpeg">
      <img src="/img/location/map-medium.jpg" class="wide" alt="{{MapAlt}}">
    </picture> 
  </a>
</section>

<section class="limited-large content">
  <h2>{{HowToGetThere}}</h2>
  {{HowToGetThereDesc | safe}}
  <ul>
    <li>
      <p>
        <img src="/svg/train.svg" class="metro" alt="Metro logo">
        <a href="https://www.metromadrid.es/es/linea/ml3" target="_blank" rel="noopener noreferrer">
          <span>Metro L3 (Montepríncipe)</span>
        </a>
      </p>
    </li>
    <li>
      <p>
        <img src="/svg/bus.svg" class="bus" alt="Bus logo">
        <a href="http://www.madridbuses.com/autobuses-interurbanos/horarios-571-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 571</span>
        </a>
        <span>·</span>
        <a href="http://www.madridbuses.com/autobuses-interurbanos/horarios-573-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" rel="noopener noreferrer">
          <span>Bus 573</span>
        </a>
      </p>
    </li>
  </ul>  
</section>

<section class="limited-large content">
  <h2>{{FreeShuttles}}</h2>
  {{FreeShuttlesDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{Cloakroom}}</h2>
  {{CloakroomDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{Credentials}}</h2>
  {{CredentialsDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{AccessControl}}</h2>
  {{AccessControlDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{LateRegistration}}</h2>
  {{LateRegistrationDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{NeedLaptop}}</h2>
  {{NeedLaptopDesc | safe}}
</section>

<section class="limited-large content">
  <h2>{{WorkshopRequirements}}</h2>
  {{WorkshopRequirementsDesc | safe}}
</section>
  