<section>
  <div class="limited-large content section-center">
    <h1>{{Newsletter}}</h1>
    {{NewsletterDesc | safe}}
    <a href="{{site.newsletter}}" class="button primary" target="_blank" rel="noopener norreferer">
      {{SubscribeToNewsletter}}
    </a>
    <p><small>{{PrivacyPolicyDesc | safe}}</small></p>
  </div>
</section>