<section class="limited-large content">
  <h1>{{PrivacyPolicy}}</h1>
  {{PrivacyPolicyIntro | safe}}
  
  <h2>{{WhatWeCollect}}</h2>
  {{WhatWeCollectDesc | safe}}

  <h2>{{ThirdParties}}</h2>
  {{ ThirdPartiesDesc | safe}}

  <h2>{{Security}}</h2>
  {{SecurityDesc | safe}}

  <h2>{{Changes}}</h2>
  {{ChangesDesc | safe}}

</section>