<div class="limited-large content">
<section >
  <h1>{{OrganizationId}}</h1>
  <p>{{OrganizationIdDesc | safe}}</p>
</section>
<section >
  <h1>{{TermsAndConditions}}</h1>
  <p>{{MustAcceptTheTerm}}</p>
  <ul>
    <li>{{PurchaseThroughKoliseo}}</li>
    <li>{{HowToGetYourInvoice}}</li>
    <li>{{WillNotEmitRefund}}</li>
    <li>{{StudentTicketRequirement}}</li>
    <li>{{ChangeTicketDataOrRequestTransfer}}</li>
    <li>{{TransferedTicketsResponsability}}</li>
    <li>{{BadgeRequirement}}</li>
  </ul>
  <p>{{RightToModifyTheTerms}}</p>
</section>
  </div>